server:
  port: 8080

app:
  jwt:
    signer-key: ${JWT_SIGNER_KEY:YourSuperSecretKeyForJWTThatIsLongEnoughToBeSecure}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Thay ??i mvc thành server.webmvc
      server:
        webmvc:
          routes:
            - id: identity-service
              uri: http://localhost:8081
              predicates:
                - Path=/identity/**
              filters:
                - StripPrefix=1

            # Route m?i cho Product Service
            - id: product-service
              uri: http://localhost:8082
              predicates:
                - Path=/product/**
              filters:
                - StripPrefix=1